<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CryptoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B81495BC19EDB6E3008BC391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B81495D019EDB6E4008BC391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A4E5E319EB333A002CA063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A4E5EE19EB333A002CA063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
